@model IEnumerable<string>
@{
    ViewData["Title"] = "ToResume";
    int i = 0;
}

<h1>
    Username and Profile Icon with button
    <h2>preview of recent resumes</h2>
</h1>
<div class="container p-6">
    <div class="text-center">
        <div class="col-10">
            <a asp-controler="Client" asp-action="ToResumes" class="btn btn-primary"> View all existing resumes </a>
        </div>
</div>

<title>
    All of your existing resumes
</title>
<table class="table table-borderless table-active">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                CV
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (string obj in Model)
        {
            i++;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    <a asp-controler="Profile" asp-action="ToResumes" class="btn btn-primary"> View all existing resumes </a>
                </td>
            </tr>
        }
    </tbody>
</table>
