@model IEnumerable<string>
@{
    ViewData["Title"] = "ToResume";
    int i = 0;
}

<title>
    Resume by id
</title>


<!-- PDF.js CSS -->
<link rel="stylesheet" href="/path/to/pdf.js-dist/web/viewer.css">

<!-- PDF.js library -->
<script src="/path/to/pdf.js-dist/build/pdf.js"></script>

<div id="pdfViewer"></div>

