@model IEnumerable<LanguageViewModel>
<h1>Your languages</h1>

<div>
	<a asp-controller="ResumeBuilder" asp-action="CreateLanguage" class="btn btn-primary">
		Add New Language
	</a>
</div>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name of the language</th>
			<th>Proficiency level</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null)
		{
			@foreach (var obj in Model)
			{
				<tr>
					<td>
						@obj.LanguageName
					</td>
					<td>
						@obj.ProficiencyLevel
					</td>
				</tr>
			}
		}

	</tbody>
</table>