@{
    ViewData["Title"] = "Home Page";
}

<div class = "container p-4">
    <div style="margin-bottom:100px; margin-top:50px;margin-left:210px;">
        <h1>The EASIEST way to build your CV
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
        </h1>
    </div>
    <div style="margin-left:420px;margin-bottom:80px;">
        <h2>See Why
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-down"><polyline points="7 13 12 18 17 13"></polyline><polyline points="7 6 12 11 17 6"></polyline></svg>
        </h2>
    </div>
    <div style="margin-left:290px; margin-bottom:80px;">
        <ul>
            <li>The creation of a CV here takes less than 5 minutes
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 16 16">
                    <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z" />
                    <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z" />
                </svg>
            </li>
            <br />
            <li>Your CV will be in a PDF format, ready to be shown
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                    <path d="M4.603 14.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.697 19.697 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.188-.012.396-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.066.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.712 5.712 0 0 1-.911-.95 11.651 11.651 0 0 0-1.997.406 11.307 11.307 0 0 1-1.02 1.51c-.292.35-.609.656-.927.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.266.266 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.71 12.71 0 0 1 1.01-.193 11.744 11.744 0 0 1-.51-.858 20.801 20.801 0 0 1-.5 1.05zm2.446.45c.15.163.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.876 3.876 0 0 0-.612-.053zM8.078 7.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z" />
                </svg>
            </li>
            <br />
            <li>You only have to follow a few steps
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cup-hot" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M.5 6a.5.5 0 0 0-.488.608l1.652 7.434A2.5 2.5 0 0 0 4.104 16h5.792a2.5 2.5 0 0 0 2.44-1.958l.131-.59a3 3 0 0 0 1.3-5.854l.221-.99A.5.5 0 0 0 13.5 6H.5ZM13 12.5a2.01 2.01 0 0 1-.316-.025l.867-3.898A2.001 2.001 0 0 1 13 12.5ZM2.64 13.825 1.123 7h11.754l-1.517 6.825A1.5 1.5 0 0 1 9.896 15H4.104a1.5 1.5 0 0 1-1.464-1.175Z" />
                    <path d="m4.4.8-.003.004-.014.019a4.167 4.167 0 0 0-.204.31 2.327 2.327 0 0 0-.141.267c-.026.06-.034.092-.037.103v.004a.593.593 0 0 0 .091.248c.075.133.178.272.308.445l.01.012c.118.158.26.347.37.543.112.2.22.455.22.745 0 .188-.065.368-.119.494a3.31 3.31 0 0 1-.202.388 5.444 5.444 0 0 1-.253.382l-.018.025-.005.008-.002.002A.5.5 0 0 1 3.6 4.2l.003-.004.014-.019a4.149 4.149 0 0 0 .204-.31 2.06 2.06 0 0 0 .141-.267c.026-.06.034-.092.037-.103a.593.593 0 0 0-.09-.252A4.334 4.334 0 0 0 3.6 2.8l-.01-.012a5.099 5.099 0 0 1-.37-.543A1.53 1.53 0 0 1 3 1.5c0-.188.065-.368.119-.494.059-.138.134-.274.202-.388a5.446 5.446 0 0 1 .253-.382l.025-.035A.5.5 0 0 1 4.4.8Zm3 0-.003.004-.014.019a4.167 4.167 0 0 0-.204.31 2.327 2.327 0 0 0-.141.267c-.026.06-.034.092-.037.103v.004a.593.593 0 0 0 .091.248c.075.133.178.272.308.445l.01.012c.118.158.26.347.37.543.112.2.22.455.22.745 0 .188-.065.368-.119.494a3.31 3.31 0 0 1-.202.388 5.444 5.444 0 0 1-.253.382l-.018.025-.005.008-.002.002A.5.5 0 0 1 6.6 4.2l.003-.004.014-.019a4.149 4.149 0 0 0 .204-.31 2.06 2.06 0 0 0 .141-.267c.026-.06.034-.092.037-.103a.593.593 0 0 0-.09-.252A4.334 4.334 0 0 0 6.6 2.8l-.01-.012a5.099 5.099 0 0 1-.37-.543A1.53 1.53 0 0 1 6 1.5c0-.188.065-.368.119-.494.059-.138.134-.274.202-.388a5.446 5.446 0 0 1 .253-.382l.025-.035A.5.5 0 0 1 7.4.8Zm3 0-.003.004-.014.019a4.077 4.077 0 0 0-.204.31 2.337 2.337 0 0 0-.141.267c-.026.06-.034.092-.037.103v.004a.593.593 0 0 0 .091.248c.075.133.178.272.308.445l.01.012c.118.158.26.347.37.543.112.2.22.455.22.745 0 .188-.065.368-.119.494a3.198 3.198 0 0 1-.202.388 5.385 5.385 0 0 1-.252.382l-.019.025-.005.008-.002.002A.5.5 0 0 1 9.6 4.2l.003-.004.014-.019a4.149 4.149 0 0 0 .204-.31 2.06 2.06 0 0 0 .141-.267c.026-.06.034-.092.037-.103a.593.593 0 0 0-.09-.252A4.334 4.334 0 0 0 9.6 2.8l-.01-.012a5.099 5.099 0 0 1-.37-.543A1.53 1.53 0 0 1 9 1.5c0-.188.065-.368.119-.494.059-.138.134-.274.202-.388a5.446 5.446 0 0 1 .253-.382l.025-.035A.5.5 0 0 1 10.4.8Z" />
                </svg>
            </li>
            <br />
            <li>Your CV will be sent directly to your Email
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-check" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z" />
                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z" />
                </svg>
            </li>

        </ul>
    </div>


    <div>
        <h3 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            What Is the Purpose of a CV?
        </h3>
        <p>
        A curriculum vitae contains your educational history, a list of research you've conducted, and any articles you've published in journals. It also includes a list of awards and honors you've received.
        </p>
        <p>
        The CV is used mainly in academia. Graduate school applicants often need to submit a CV, as do candidates for grants, fellowships, and postdoctoral positions. Candidates for teaching jobs in postsecondary schools often need a CV as well.
        </p>
        <p>
        An effective CV presents a clear picture of the type of research you do and your ability to secure funding for that research. Your list of publications demonstrates your professional contributions to your field.
        <p>
    </div>
    <br />
    <div style="margin-top:25px">
        <h3 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            What Should You Include in a CV?
        </h3>
        <p>
        A CV should include most of the sections listed below. If you don't have something to put in a section, don't worry about it — just leave that section off your CV.
        </p>
        <h5 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
            </svg> Contact Information
        </h5>
        <p>
        Start your CV with your name, address, phone number, and email address. You want to make sure the person reading your CV knows how to get in touch with you.
        </p>
        <h5 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
            </svg> Education
        </h5>
        <p>
        List the colleges and universities you've attended. Include the dates attended, your degree, your GPA, and the title of your thesis or dissertation.
        </p>
        <h5 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
            </svg> Experience and Achievements
        </h5>
        <p>
        Add a list of your work experience along with employer names, job titles, and dates of employment. Be sure to include the city and state for each employer, as well as a description of your accomplishments and responsibilities.
        </p>

        <h5 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
            </svg> Qualifications and Skills
        </h5>
        <p>
        List the skills that make you the ideal candidate for this job. Think about what the job entails and what qualifications are required. Add any that apply.
        </p>

        
        <h5 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
            </svg> Professional Licenses and Certifications
        </h5>
        <p>
            List the name of each license or certification, the year earned, and the name of the organization that issued the certification.
            </p>
    </div>
    <br />
    <div style="margin-top:25px">
        <h3 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            6 Essential Tips for Writing a CV
        </h3>
        <p>
        Here are six tips to help you learn how to write a CV to help you get into grad school, secure a fellowship or grant, or apply for a teaching position.
        </p>
        <br />
        <h5 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            1. Use Bullet Points When Applicable
        </h5>
        <p>
        Bullet points make your CV easier to read. If you're completing a section of your CV and notice that each item is less than a full line, that's a perfect place to add bullet points. The formatting looks nicer and helps the reader follow along. You can add bullet points to your qualifications and skills, awards and honors, grants, and professional affiliations.
        </p>
        <br />
        <h5 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            2. Check the Format
        </h5>
        <p>
        Many organizations use application tracking systems to identify the CVs that most closely match what they're looking for, so try to avoid strange formatting that might interfere with these systems.
        </p>
        <p>
        Keep the look of your CV simple, with 1-inch margins on every side. Use single spacing for most items, but be sure to add a blank line between schools and/or jobs. You should also use a standard serif font at a reasonable size, such as Times New Roman at size 12 points.
        </p>
        <br />
        <h5 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">3. Tailor Your CV for Each Position</h5>
        <p>
        You can't change where you went to college or what your major was, but you can tweak your CV in small ways to tailor it to the position you're applying for. For example, you can write the job responsibilities section of each job to focus on the part of the job that is applicable.
        </p>
        <br />
        <h5 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            4. Don't Worry Too Much About Length
        </h5>
        <p>
        While it's best to keep your CV concise, CVs tend to run longer than resumes. A resume usually shouldn't run more than a page, but it's not uncommon for a CV to be 2-3 pages long. In the end, your CV should be as long as it takes to list all your accomplishments without being padded with unnecessary information.
        </p>

        <h5 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            <br />
            5. Use Both Reverse Chronological and Functional Formatting</h5>
        <p>
        For the work experience and education sections, list schools and employers in reverse chronological order (i.e., from most recent to oldest). This is the order most employers expect to see. For other sections, however, you can use functional formatting, which means placing the most relevant items highest in the list. Functional formatting works well for journal publications and professional associations.
        </p>
        <br />
        <h5 style="  font-family: Lexend Deca, Helvetica, Arial, sans-serif;">
            6. Always Check for Additional Requirements
        </h5>
        <p>
        Check the job listing to see if it includes any additional requirements beyond the typical CV sections. For example, some positions may require references, research interests, or a professional summary. Even if not requested, including a professional summary can provide an opportunity to customize your CV to the job you're applying for.
        </p>
    </div>
</div>