@{
    ViewData["Title"] = "Home Page";
}

<div class = "container p-4" >
    <div>
        <h2>What Is the Purpose of a CV?</h2>
        <p>
        A curriculum vitae contains your educational history, a list of research you've conducted, and any articles you've published in journals. It also includes a list of awards and honors you've received.
        </p>
        <p>
        The CV is used mainly in academia. Graduate school applicants often need to submit a CV, as do candidates for grants, fellowships, and postdoctoral positions. Candidates for teaching jobs in postsecondary schools often need a CV as well.
        </p>
        <p>
        An effective CV presents a clear picture of the type of research you do and your ability to secure funding for that research. Your list of publications demonstrates your professional contributions to your field.
        <p>
    </div>
    <div>
        <h2>What Should You Include in a CV?</h2>
        <p>
        A CV should include most of the sections listed below. If you don't have something to put in a section, don't worry about it — just leave that section off your CV.
        </p>
        <h3>minus-sm icon*** Contact Information </h3>
        <p>
        Start your CV with your name, address, phone number, and email address. You want to make sure the person reading your CV knows how to get in touch with you.
        </p>
        <h3>minus-sm icon Education</h3>
        <p>
        List the colleges and universities you've attended. Include the dates attended, your degree, your GPA, and the title of your thesis or dissertation.
        </p>
        <h3>minus-sm icon Experience and Achievements</h3>
        <p>
        Add a list of your work experience along with employer names, job titles, and dates of employment. Be sure to include the city and state for each employer, as well as a description of your accomplishments and responsibilities.
        </p>

        <h3>minus-sm icon Qualifications and Skills</h3>
        <p>
        List the skills that make you the ideal candidate for this job. Think about what the job entails and what qualifications are required. Add any that apply.
        </p>

        
        <h3>
            minus-sm icon Professional Licenses and Certifications</h3>
        <p>
            List the name of each license or certification, the year earned, and the name of the organization that issued the certification.
            </p>
    </div>

    <div>
        <h2>6 Essential Tips for Writing a CV</h2>
        <p>
        Here are six tips to help you learn how to write a CV to help you get into grad school, secure a fellowship or grant, or apply for a teaching position.
        </p>
        <h3>1. Use Bullet Points When Applicable</h3>
        <p>
        Bullet points make your CV easier to read. If you're completing a section of your CV and notice that each item is less than a full line, that's a perfect place to add bullet points. The formatting looks nicer and helps the reader follow along. You can add bullet points to your qualifications and skills, awards and honors, grants, and professional affiliations.
        </p>
        <h3>2. Check the Format</h3>
        <p>
        Many organizations use application tracking systems to identify the CVs that most closely match what they're looking for, so try to avoid strange formatting that might interfere with these systems.
        </p>
        <p>
        Keep the look of your CV simple, with 1-inch margins on every side. Use single spacing for most items, but be sure to add a blank line between schools and/or jobs. You should also use a standard serif font at a reasonable size, such as Times New Roman at size 12 points.
        </p>
        <h3>3. Tailor Your CV for Each Position</h3>
        <p>
        You can't change where you went to college or what your major was, but you can tweak your CV in small ways to tailor it to the position you're applying for. For example, you can write the job responsibilities section of each job to focus on the part of the job that is applicable.
        </p>
        <h3>4. Don't Worry Too Much About Length</h3>
        <p>
        While it's best to keep your CV concise, CVs tend to run longer than resumes. A resume usually shouldn't run more than a page, but it's not uncommon for a CV to be 2-3 pages long. In the end, your CV should be as long as it takes to list all your accomplishments without being padded with unnecessary information.
        </p>

        <h3>
            5. Use Both Reverse Chronological and Functional Formatting</h3>
        <p>
        For the work experience and education sections, list schools and employers in reverse chronological order (i.e., from most recent to oldest). This is the order most employers expect to see. For other sections, however, you can use functional formatting, which means placing the most relevant items highest in the list. Functional formatting works well for journal publications and professional associations.
        </p>
        <h3>6. Always Check for Additional Requirements</h3>
        <p>
        Check the job listing to see if it includes any additional requirements beyond the typical CV sections. For example, some positions may require references, research interests, or a professional summary. Even if not requested, including a professional summary can provide an opportunity to customize your CV to the job you're applying for.
        </p>
    </div>
</div>