@{
    ViewData["Title"] = "Home Page";
}

<div class = "container p-4" >
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div
            class = "col-6" >
            <a asp-controler = "Home" asp-action = "ToDashboard" class = "btn btn-primary"> Go to profile </a>
        </div>
    </div>
</div>